<nav
  class="navbar navbar-expand-lg navbar-light secondry font"
  style="border-bottom: 0.5px solid rgb(119, 29, 2)"
>
  <div class="container">
    <a class="navbar-brand text-main brand-font" routerLink="/"
      ><img src="../../../assets/סמל.png" height="50px" width="60px" alt=""> Hotels inside</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarMain"
      style="font-size: 1.1rem"
    >
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
        <li class="nav-item active">
          <a class="nav-link text-main" routerLink="/">Home</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/hotelsnearby" routerLinkActive="active-link"><i class="fas fa-map-marker-alt"></i> Hotels near by</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/FavoriteHotels" routerLinkActive="active-link"><i class="fab fa-gratipay"></i> Favorite Hotels</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-2">

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link text-white" routerLink="/register" routerLinkActive="active-link">Register</a>
        </li>

        <div *ngIf="isLoggedIn" class="dropdown show">
          <a
            class="btn btn-info dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user mr-2 font-weight-bold"></i>{{ name }}</a
          >

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a
              (click)="logout()"
              style="cursor: pointer"
              class="dropdown-item"
              href="#"
              ><i class="fas fa-sign-out-alt text-danger"></i> Log Out</a
            >
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
