<mat-toolbar color='warn'>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Hotels Reviews</span>
   <span class="example-spacer"></span>
   <a  mat-button  routerLink="/register">Register</a>
   <a  mat-button  routerLink="/login">Login</a>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>