.map-container{
    position: absolute;
    display: block !important;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:30px;
    margin-top: 150px !important;
}
.map-frame{
    height: 60%;
}
#map{
    height: 60%;
}