.hotel-info-main{
    padding: 20px 20px !important;
    padding-top: 50px !important;
    height: 100vh;
}

.header span{
    font-size: 0.9rem !important;
}
.fake{
    background-color: rgb(224, 93, 93);
}