<div *ngIf="isFetched">
  <div class="card primary mt-4 container text-center" *ngIf="reviewStats.truth.avg">
    <div class="card-body">
      <div class="row pl-5">
        <h2 style="font-size: 2.4rem !important;">{{reviewStats.truth.avg}}</h2>
        <div class="ml-2">
          <div *ngIf="reviewStats.truth.avg.toFixed(0) == '1'">
            <i class="fas fa-star"></i> <i class="far fa-star"></i>
            <i class="far fa-star"></i> <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div *ngIf="reviewStats.truth.avg.toFixed(0) == '2'">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="far fa-star"></i> <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div *ngIf="reviewStats.truth.avg.toFixed(0) == '3'">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div *ngIf="reviewStats.truth.avg.toFixed(0) == '4'">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <div *ngIf="reviewStats.truth.avg.toFixed(0) == '5'">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>



      </div>

    </div>
  </div>

  <div class="card primary mt-4 container">
    <div class="card-body">
      <div class="rating-stars">
        <div id="star1">
          <input type="checkbox" class="mr-2" name="" id="" />

          <i class="fas fa-star"></i> <i class="far fa-star"></i>
          <i class="far fa-star"></i> <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <div class="progress" style="height: 9px; margin: 8px 0">
            <div class="progress-bar bg-danger" role="progressbar" [style.width]="
                (reviewStats.truth.ratingCount['1'] / reviewStats.truth.count) *
                  100 +
                '%'
              " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <i class="far fa-frown mr-1 ml-2 text-danger"></i>
          <span class=""> {{ reviewStats.truth.ratingCount["1"] || 0 }} </span>

          <br />
        </div>

        <div id="star2">
          <input type="checkbox" class="mr-2" name="" id="" />

          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="far fa-star"></i> <i class="far fa-star"></i>
          <i class="far fa-star"></i>

          <div class="progress" style="height: 9px; margin: 8px 0">
            <div class="progress-bar bg-danger" role="progressbar" [style.width]="
                (reviewStats.truth.ratingCount['2'] / reviewStats.truth.count) *
                  100 +
                '%'
              " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <i class="far fa-frown mr-1 ml-2 text-danger"></i>

          <span class=""> {{ reviewStats.truth.ratingCount["2"] || 0 }} </span>
          <br />
        </div>

        <div id="star3">
          <input type="checkbox" class="mr-2" name="" id="" />

          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <div class="progress" style="height: 9px; margin: 8px 0">
            <div class="progress-bar bg-info" role="progressbar" [style.width]="
                (reviewStats.truth.ratingCount['3'] / reviewStats.truth.count) *
                  100 +
                '%'
              " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <i class="far fa-meh ml-2 mr-1 text-info"></i>

          <span class=""> {{ reviewStats.truth.ratingCount["3"] || 0 }} </span>
          <br />
        </div>

        <div id="star4">
          <input type="checkbox" class="mr-2" name="" id="" />
          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="far fa-star"></i>

          <div class="progress" style="height: 9px; margin: 8px 0">
            <div class="progress-bar bg-success" role="progressbar" [style.width]="
                (reviewStats.truth.ratingCount['4'] / reviewStats.truth.count) *
                  100 +
                '%'
              " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <i class="far fa-smile-beam mr-1 text-success ml-2"></i>

          <span class=""> {{ reviewStats.truth.ratingCount["4"] || 0 }} </span>
          <br />
        </div>

        <div id="star5">
          <input type="checkbox" class="mr-2" name="" id="" />

          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>

          <div class="progress" style="height: 9px; margin: 8px 0">
            <div class="progress-bar bg-success" role="progressbar" [style.width]="
                (reviewStats.truth.ratingCount['5'] / reviewStats.truth.count) *
                  100 +
                '%'
              " aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <i class="far fa-smile-beam mr-1 text-success ml-2"></i>

          <span class=""> {{ reviewStats.truth.ratingCount["5"] || 0 }} </span>
          <br />
        </div>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 20px !important; margin-top: 20px !important">
    <map-component [center]="{ lat: hotelGeo.lat, long: hotelGeo.long }" [landMarkName]="hotelName"></map-component>
  </div>
</div>
