/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #242526;
  --secondry: #f74d41f8;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #181818;
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  color: white;
}
.primary {
  background-color: var(--primary) !important;
}
.secondry {
  background-color: var(--secondry) !important;
}
h2 {
  font-weight: bold;
  color: var(--secondry);
  font-size: 1.4rem;
}
.container {
  max-width: 1300px !important;
}
.btn-main {
  background-color: var(--secondry);
}
.btn-main-outline{
  border-color:var(--secondry);
  color:  var(--secondry);
}
.btn-main-outline:hover{
  background-color:var(--secondry);
}
.btn-main:hover {
  background-color: #cf3227f8;
}
.text-main {
  color: var(--secondry);
}
.border-main {
  box-shadow: 0px 2px 0px var(--secondry);
}
.badge {
  font-size: 0.8rem !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 3;
  border-top: 1px solid var(--secondry);
}
.form-control {
  background-color: var(--primary) !important;
  color: white !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #3b3b3b;
}
.form-control:active {
  background-color: var(--primary) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #3b3b3b;
}
.form-control:focus {
  background-color: var(--primary) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid var(--secondry);
  box-shadow: 0 2px 2px -2px var(--secondry);
}
.alert {
  padding: 0.1rem 1.25rem !important;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: var(--secondry) !important;
  margin-bottom: 40px  !important;
}
.my-pagination /deep/ .ngx-pagination a {
  color: white !important;
}
.my-pagination /deep/ .ngx-pagination a:hover {
  background-color: #17a2b8 !important;
}

#toast-container div {
  width: 350px !important;
  text-align: center !important;
}
