<div class="reviews mt-4">
  <div style="display: inline-flex;" class="mt-3 mb-3 text-center row" >
    <div>
      <button (click)="setActiveFilter('All')" [class.btn-main]="selectedFilteredCategory === 'All'"
      [class.btn-main-outline]="selectedFilteredCategory !== 'All'" class="ml-2 btn">
      <i class="fas fa-border-all" style="margin-right: 3px; margin-top: 2px; margin-bottom: 2px;"></i> All
      </button>
    </div>
    <div *ngFor="let category of categories" style="margin-top: 2px; margin-bottom: 2px;">
      <button (click)="setActiveFilter(category.type)" [class.btn-main]="selectedFilteredCategory === category.type"
      [class.btn-main-outline]="selectedFilteredCategory !== category.type" class="ml-2 btn">
      <i class="{{category.icon}}" style="margin-right: 3px;"></i> {{category.type}} 
      </button>
  
    </div>
  </div>


  <div
  
    *ngFor="
      let review of reviews
        | paginate
          : {
              id: 'hotel',
              itemsPerPage: 8,
              currentPage: page,
              totalItems: totalItem
            }
    "
  >
    <div class="card primary mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <span class="mr-3 float-left"
              ><i class="fas fa-user mr-1"></i> {{ review.user }}</span
            >
            <span reviewRating
              class="mb-2 mr-3 float-left  font-weight-bold"
            >
              <i  [ngClass]="getIcon(review.rating)"></i>
              {{ review.rating }}
            </span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ review.title }}</h5>
        <p class="card-text">{{ review.desc }}</p>
      </div>
    </div>
  </div>
</div>
